--find-links https://download.pytorch.org/whl/torch_stable.html

matplotlib~=3.3.2
numpy==1.19.1
torchvision~=0.8.1
parse~=1.18.0
scikit-image~=0.17.2
pillow~=8.0.1
torch~=1.7.0
opencv-python~=4.4.0.46
ipython~=7.19.0
facenet_pytorch
pytz~=2020.1
paramiko~=2.7.2
pandas